<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0, user-scale='no'"/>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="./home_popular.css">
    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <title>Home_popular</title>
</head>

  <body>
  <div class="frame0">
    <button class="back" onclick="history.back()">
      <img src="../static/images/arrow.png" style="width: 18px ; height: 18px">
    </button>
  <span class="title">이번 주 인기 맛집</span>
</div>

<section class="top7">
  <p style="font-weight: 500">이번주 인기맛집 <b style="font-weight: 700;color: #326144">TOP 7</b></p>
    <div class="swiper2">
        <div class="swiper-wrapper">
            <!-- 슬라이드 1 -->
            <div class="swiper-slide">
                <div class="popular">
                    <div class="popular_img"></div>
                    <div class="rank"> 1위 </div>
                    <div class="popularInfo">식당이름
                        <span class="VeganOption">
                    <span style="width: 8px; height: 8px; background: #326144; border-radius: 90px;"></span>
                    <span style="font-size: 8px;font-weight: 300;color: #8B8E8C;">비건</span>
            </span>

                        <span class="popular_Bookmarker" >
               <input id="scrap_id1" type="image" src="../static/images/Bookmark.png" width="16" height="16" border="0" onclick="saveScrap(1)">
            </span>
                    </div>
                    <div class="popular_place">
                        <img class="popular_placeIcon" src="../static/images/place.png" style="position: relative" width="12" height="12">
                        <span>식당위치</span>
                        <span class="popular_Score">
                 <img src="../static/images/Star.png" width="12" height="12" >
                 <span>5.0</span>
         </span>
                    </div>
                    <div class="popular_menu">
                        <span style="font-weight: 700;">분류</span>
                        <span>·</span>
                        <span>대표메뉴1</span>
                        <span>·</span>
                        <span>대표메뉴2</span>
                    </div>

                </div>
            </div>
            <!-- 슬라이드 2 -->
            <div class="swiper-slide">
                <div class="popular">
                    <div class="popular_img"></div>
                    <div class="rank"> 2위 </div>
                    <div class="popularInfo">식당이름
                        <span class="VeganOption">
                    <span style="width: 8px; height: 8px; background: #326144; border-radius: 90px;"></span>
                    <span style="font-size: 8px;font-weight: 300;color: #8B8E8C;">비건</span>
            </span>
                        <span class="popular_Bookmarker" >
               <input id="scrap_id2" type="image" src="../static/images/Bookmark.png" width="16" height="16" border="0" onclick="saveScrap(2)">
            </span>
                    </div>

                    <div class="popular_place">
                        <img class="popular_placeIcon" src="../static/images/place.png" style="position: relative" width="12" height="12">
                        <span>식당위치</span>
                        <span class="popular_Score">
                 <img src="../static/images/Star.png" width="12" height="12" >
                 <span>5.0</span>
         </span>
                    </div>
                    <div class="popular_menu">
                        <span style="font-weight: 700;">분류</span>
                        <span>·</span>
                        <span>대표메뉴1</span>
                        <span>·</span>
                        <span>대표메뉴2</span>
                    </div>

                </div>
            </div>
            <!-- 슬라이드 3 -->
            <div class="swiper-slide">
                <div class="popular">
                    <div class="popular_img"></div>
                    <div class="rank"> 3위 </div>
                    <div class="popularInfo">식당이름
                        <span class="VeganOption">
                    <span style="width: 8px; height: 8px; background: #326144; border-radius: 90px;"></span>
                    <span style="font-size: 8px;font-weight: 300;color: #8B8E8C;">비건</span>
            </span>
                        <span class="popular_Bookmarker" >
               <input id="scrap_id3" type="image" src="../static/images/Bookmark.png" width="16" height="16" border="0" onclick="saveScrap(3)">
            </span>
                    </div>

                    <div class="popular_place">
                        <img class="popular_placeIcon" src="../static/images/place.png" style="position: relative" width="12" height="12">
                        <span>식당위치</span>
                        <span class="popular_Score">
                 <img src="../static/images/Star.png" width="12" height="12" >
                 <span>5.0</span>
         </span>
                    </div>
                    <div class="popular_menu">
                        <span style="font-weight: 700;">분류</span>
                        <span>·</span>
                        <span>대표메뉴1</span>
                        <span>·</span>
                        <span>대표메뉴2</span>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
  <section class="popular_all">
      <p style="font-weight: 500">이번 주 인기 맛집 <b>전체 목록</b></p>
          <div class="swiper">
              <div class="swiper-wrapper">
                  <div class="swiper-slide">
                      <form action="#">
                          <select class="combobox" name="정렬방식" id="sort" width="73" height="35">
                              <option value="distance">거리순</option>
                              <option value="popular">인기순</option>
                          </select>
                      </form>
                  </div>
                  <div class="swiper-slide">
                      <form action="#">
                          <select class="combobox" name="category" id="category" width="124px" height="35">
                              <option value="한식">한식</option>
                              <option value="아시안">아시안</option>
                              <option value="서양식">서양식</option>
                              <option value="간단식">간단식&혼밥</option>
                              <option value="뷔페">뷔페</option>
                              <option value="카페">카페&베이커리</option>
                              <option value="주점">주점</option>
                          </select>
                      </form>
                  </div>
                  <div class="swiper-slide">
                      <div class="vegan_type" style="width: 56px; height: 35px;">
                          <div class="vegan"></div><span style="font-family: pretendard;font-size: 15px; line-height: 19.1px">비건</span>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="vegan_type" style="width: 84px;height: 35px;">
                          <aside class="vegan_option"></aside>
                          <span style="font-family: pretendard;font-size: 15px; line-height: 19.1px">비건옵션</span>
                      </div>
                  </div>
              </div>
      </div>

      <hr style="width: 328px;border: 1px;angle: -0 deg;border: 1px solid #F1EFEF;margin-top: 16px;margin-bottom: 16px;"> <!--수평선 그리기-->
      <div class="rest_Segment"> <!--얘를 먼저 가로정렬하고-->
          <div class="rest_Img">img</div>
          <div class="rest_frame">
              <div class="frame">
                  <div style="font-weight: 500;font-size: 16px; margin-right: 8px;">식당명</div>
                  <span class="vegan"></span>
                  <span class="vegan_option_font">비건</span>
              </div>
              <div class="frame">
                  <img src="../static/images/place.png" width="12" height="12">
                  <span class="location_font">식당위치</span>
                  <img src="../static/images/Star.png" width="12" height="12" style="margin-left: 8px">
                  <span class="location_font">4.5</span>
              </div>
              <div class="frame" style="margin-top: 12px">
                  <b style="font-size: 8px;">한식</b><span style="font-size: 8px;">&nbsp;· 대표메뉴1 · 대표메뉴2</span>

              </div>
          </div>
      </div><!--수평선~div닫히는 곳(?)까지가 식당정보 들어가는 부분-->
      <hr style="width: 328px;border: 1px;angle: -0 deg;border: 1px solid #F1EFEF;margin-top: 16px;margin-bottom: 16px;"> <!--수평선 그리기-->
      <div class="rest_Segment"> <!--얘를 먼저 가로정렬하고-->
          <div class="rest_Img">img</div>
          <div class="rest_frame">
              <div class="frame">
                  <div style="font-weight: 500;font-size: 16px; margin-right: 8px;">식당명</div>
                  <a class="vegan_option"></a>
                  <span class="vegan_option_font">비건옵션</span>
              </div>
              <div class="frame">
                  <img src="../static/images/place.png" width="12" height="12">
                  <span class="location_font">식당위치</span>
                  <img src="../static/images/Star.png" width="12" height="12" style="margin-left: 8px">
                  <span class="location_font">4.5</span>
              </div>
              <div class="frame" style="margin-top: 12px">
                  <b style="font-size: 8px;">한식</b><span style="font-size: 8px;">&nbsp;· 대표메뉴1 · 대표메뉴2</span>

              </div>
          </div>
      </div> <!--수평선~div닫히는 곳(?)까지가 식당정보 들어가는 부분-->
      <hr style="width: 328px;border: 1px;angle: -0 deg;border: 1px solid #F1EFEF;margin-top: 16px;margin-bottom: 16px;"> <!--수평선 그리기-->
      <div class="rest_Segment"> <!--얘를 먼저 가로정렬하고-->
          <div class="rest_Img">img</div>
          <div class="rest_frame">
              <div class="frame">
                  <div style="font-weight: 500;font-size: 16px; margin-right: 8px;">식당명</div>
                  <span class="vegan"></span>
                  <span class="vegan_option_font" >비건</span>
              </div>
              <div class="frame">
                  <img src="../static/images/place.png" width="12" height="12">
                  <span class="location_font">식당위치</span>
                  <img src="../static/images/Star.png" width="12" height="12" style="margin-left: 8px">
                  <span class="location_font">4.5</span>
              </div>
              <div class="frame" style="margin-top: 12px">
                  <b style="font-size: 8px;">한식</b><span style="font-size: 8px;">&nbsp;· 대표메뉴1 · 대표메뉴2</span>

              </div>
          </div>
      </div>
  </section>
</body>
<script>
    const swiper = new Swiper('.swiper', {
        direction: 'horizontal',
        slidesPerView: 'auto',
        spaceBetween: 5,
        loop: false,
        pagination: {
            el: '.swiper-pagination'
        }
    });
</script>
<script>
    const swiper2 = new Swiper('.swiper2', {
        direction: 'horizontal',
        slidesPerView : 1.61,
        loop: false,
        pagination: {
            el: '.swiper-pagination'
        }

    });
</script>
</html>