<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scale='no'"/>
  <link rel="stylesheet" href="/templates/css/signup.css">
  <title>Title</title>

</head>
<body>
<section class="main-section">
  <div>
    <img class="logoImg" src="../static/images/logo_green.png" ;>
  </div>

  <div class="text"> <p style="line-height: 0px; font-size: 24px;font-family: Montserrat"><b style="font-weight: 600">Veggie</b>Table,</p> <!--p행간 줄이기-->
    <p style="margin-bottom: 5px;font-size: 20px;">더욱 쉬워진 <b style="font-weight: 700">채식 맛집 찾기</b></p>
  </div>


  <button type="button" class="kakaobtn" id="kakaoLogin">
   <img src="../static/images/kakao_icon.png" style="margin-right: 8px;" width="17.42" height="16" ;>
    <span style= "font-family: Pretendard ; font-weight: 500; font-size: 20px; line-height:23.87px;"> 카카오로 시작하기 </span>
  </button>

  <a class="Naverbtn" id="naverLogin" href="/oauth2/authorization/naver">
    <img  class="naverIcon" src="../static/images/naver_Icon.png">
    <span style= "font-family: Pretendard ; font-weight: 500;font-size: 20px; line-height:23.87px;"> 네이버로 시작하기
    </span>
  </a>

  <a  class="Googlebtn" id="googleLogin" href="/oauth2/authorization/google">
    <img src="../static/images/google_icon.png" style="margin-right: 8px;" width="16" height="16" ;>
    <span style= "font-family: Pretendard ; font-weight: 500; font-size: 20px; line-height:23.87px;" > 구글로 시작하기 </span>
  </a>
  <script>

  </script>
</section>

</body>
</html>
