@import url('https://fonts.cdnfonts.com/css/montserrat'); /*폰트적용안될때...헤드에 임포트 해주면됨 */
section.main-section {
    text-align: center;
    font-family: Pretendard;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center
}


.kakaobtn{
    margin-bottom: 8px;
    margin-top: 100px;
    width: 328px;
    height: 56px;
    top: 464px;
    left: 16px;
    border-radius: 8px;
    border: none; /*버튼테두리 없앨 때*/
    background-color: #FEE500;


}
.Naverbtn{
    margin-bottom: 8px;
    width: 328px;
    height: 56px;
    border-radius: 8px;
    border: none;
    background-color: #03C75A;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-decoration: none;
}
.Googlebtn {
    margin-bottom: 8px;
    width: 328px;
    height: 56px;
    border-radius: 8px;
    border: 1px solid #999;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #0D1510;

}
.naverIcon{
    width: 44px;
    height: 44px;
}
.logoImg{
    width: 100px;
    height: 67.65px;
    margin-top:207px;
    margin-bottom: 25px;
}
.text{
    color: #326144;
    line-height: 23.87px;
}