<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vaggietable.server.mapper.ReviewMapper">
    <insert id="saveReview" keyProperty="reviewId" useGeneratedKeys="true">
        insert into `review` (`email`,`content`,`score`,`rId`)
        values (#{email},#{content},#{score},#{rId})
    </insert>

    <update id="updateReview">
        update `review`
        set `content` = #{content},
            `score` = #{score}
        where reviewId = #{reviewId}
          and username = #{username}
    </update>

    <delete id="deleteReview">
        delete from `review`
        where reviewId = #{reviewId}
        and username = #{username}
    </delete>
</mapper>