<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vaggietable.server.mapper.UserMapper">

    <insert id="save"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user` (`name`,`email`,`role`,`username`) VALUES(#{name}, #{email},#{role},#{username})
            ON DUPLICATE KEY UPDATE `email` = #{email}, `name` = #{name}
    </insert>

    <select id="findByEmail" resultType="com.vaggietable.server.domain.User">
        SELECT
            `name`,
            `email`,
            `nickname`,
            `role`
        FROM `user`
        WHERE `email` = #{email}
    </select>

    <update id="saveNickname" >
        UPDATE `user`
        SET nickname = #{nickname}
        WHERE `email` = #{email}
    </update>

    <select id="checkNickname" parameterType="map" resultType="string">
        SELECT `nickname` FROM `user`
        WHERE `nickname` = #{nickname}
    </select>

    <select id="findNickname" resultType="String">
        SELECT `nickname` FROM `user`
        WHERE `email` = #{email}
    </select>

    <select id="findByUsername" resultType="com.vaggietable.server.dto.UserDTO">
        SELECT `name`,`email`,`role` FROM `user`
        WHERE `username` = #{username}
    </select>

<!--

    <update id="saveReview" useGeneratedKeys="true" keyProperty="id">
        UPDATE `review`
        SET `content` = #{content},
            `score` = #{score}
        WHERE `rId` = #{rId} AND `email` = #{email}
    </update>
-->


</mapper>